<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="images/ts-logo-512.png">
  </head>
  <body>
    <div class="little-home">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <p>made for use <img src="images/ts-lettermark-blue.png" alt="typescript logo" style="height: 40px;"></p>
    </div>
  </body>
</html>
